SUPABASE_AUTH_EXTERNAL_OAUTH_ENABLED=true # true or false
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID= # Get from Google Cloud Console
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET= # Get from Google Cloud Console
SUPABASE_AUTH_EXTERNAL_REDIRECT_URI=http://127.0.0.1:54321/auth/v1/callback # Standard Supabase callback uri