SUPABASE_URL=http://127.0.0.1:54321 # Supabase uses this URL for local dev
SUPABASE_SECRET_KEY = sbservice... #For bypassing row level security
SUPABASE_PUBLISHABLE_KEY=sb_publishable...
OPENAI_API_KEY=# Get key from 1Password
FRONTEND_URL=https://your-frontend.vercel.app # Optional; enables CORS for production frontend