SUPABASE_URL=http://127.0.0.1:54321 # Supabase uses this URL for local dev
DB_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres # Supabase uses this URL for local dev
SUPABASE_SECRET_KEY=sb_secret...
OPENAI_API_KEY=